{% extends 'parent.html' %}
{% block title %}
Login Page
{% endblock %}
{% block navbar %}
<!--  <nav class="navbar navbar-expand-lg navbar-light bg-secondary mb-2">-->
  <nav class="navbar navbar-expand-lg navbar-light mb-0">
  <div class="container-fluid d-flex justify-content-center align-self-center">
    <marquee width="60%" direction="left" height="75px">
        <p class="navbar-brand text-dark bold">Welcome to Student Management System</p>
    </marquee>
  </div>
</nav>
{% endblock %}
{% block content %}
<h4 align="center" style="font-style:italic;">Login Details</h4>
<div class="container mt-1 p-4" id="tform">
<form method="post">
    {% csrf_token %}
    <h4 style="color:red;">{{msg}}</h4>
     <div class="mb-3">
    <label for="exampleInputName" class="form-label">UserName</label>
    <input type="text" class="form-control" id="exampleInputName" name="tname" aria-describedby="NameHelp">
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input type="password" class="form-control" name="tpassword" id="exampleInputPassword1">
  </div>
    Not having account? <a href="{% url 'registerFunc' %}">Register</a>
    <div class="text-center">
  <button type="submit" class="form-control btn btn-primary mt-4">Login</button>
        </div>
        <br><br>
    <p align="center">Or Sign In Using</p>
        <div class="container-fluid d-flex justify-content-center align-self-center">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-google"></i></a>
        </div>
        <br><br>
</form>
    </div>
{% endblock %}