{% extends 'parent.html' %}
{% block content %}
<h4 align="center" id="std"><i>Search Results</i></h4>
<div class="container mt-3" id="bbox">
    <br>
<table class='table' style = "border-collapse:collapse">
    <h4 align="center" style="color:red;">{{msg}}</h4>
    <thead>
    <tr>
        <th>Name</th>
        <th>Course</th>
        <th>Phone</th>
        <th>Email</th>
        <th>Age</th>
    </tr>
    </thead>
    <tbody>
    {% for r in res %}
    <tr>
        <td>{{r.Name}}</td>
        <td>{{r.Course}}</td>
        <td>{{r.phoneNo}}</td>
        <td>{{r.Email}}</td>
        <td>{{r.Age}}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
    <br>
    <p style="font-weight:1px;"><i>Row count : {{count}}</i></p>
    </div>
{% endblock %}